body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.maindiv{
    width:1330px;
    position: relative;
    color:white;
    
}
img{
    width:100%;
    height:600px;
}
.child{
  position: absolute;
  top:0;
  margin-top: 180px;
  margin-left: 70px;
}
#head1{
    font-size: 25px;
    font-weight: 500;
}
#head2{
    font-size: 40px;
    font-weight: 900;
    margin-top:0;
}
#head3{
    font-size: 30px;
    font-weight: 500;
    margin-top:0;
}
.btn{
    padding:10px 20px;
    background-color: orange;
    color:white;
    border-radius: 30px;
    font-size: 20px;
    border: none;
    font-weight: 700;
}